@import url('https://fonts.cdnfonts.com/css/satoshi');

body {
    margin: 0;
    color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

header {
    background: #333;
    color: #fff;
    width: 100%;
    position: relative;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    margin-left: 30px;
}

ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon span {
    height: 3px;
    width: 25px;
    background: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

.hero {
    width: 100%;
    height: 60vh;
    position: relative;
}

#features {
    background-color: #f7dcb4ee;
    padding: 50px;
    text-align: center;
}

.features-container {
    max-width: 1200px;
    margin: 0 auto;
}

#features h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

#features .highlight {
    color: #f8b400;
}

#features p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #666;
}

.features-steps {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feature-step {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    max-width: 22%;
    min-width: 200px;
    position: relative;
}

.step-number {
    background-color: #f8b400;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 15px;
    border-radius: 60px;
    width: 60px;
    margin: auto;
    margin-bottom: 20px;
}

.step-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.step-content p {
    font-size: 16px;
    color: #666;
}

.arrow {
    font-size: 36px;
    color: #f8b400;
    display: inline-block;
    margin: 0 5px;
}

.arrow::before {
    content: "\2192";
    /* Unicode arrow character */
    font-size: 24px;
    color: #f8b400;
    display: inline-block;
    margin: 0 10px;
}

#schedule-your-ride {
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
}

.schedule-container {
    max-width: 1200px;
    margin: 0 auto;
}

#schedule-your-ride h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

#schedule-your-ride h4 {
    margin-bottom: 25px;
    color: #666;
}

.schedule-content {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.schedule-content img {
    width: auto;
    height: 50vw;
}


.schedule-description h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
    align-items: first baseline;
}

.schedule-description p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;
}

.schedule-description input,
.schedule-description button {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.schedule-description button {
    background-color: #f8b400;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.schedule-description button:hover {
    background-color: #e5a200;
}

.schedule-description {
    background-color: #ccc;
    padding: 10px;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    padding: 20px;
}

.footer-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
    font-size: 16px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section .social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-section .social-links a img {
    width: 30px;
    height: 30px;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #444;
}



@media (max-width: 768px) {
    .features-steps {
        flex-direction: column;
        align-items: center;
    }

    .schedule-content {
        width: 100%;
        gap: 5px;
    }

    .feature-step,
    .arrow {
        max-width: 100%;
        margin: 10px 0;
    }

    .menu-icon {
        display: flex;
    }

    ul {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 200px;
        background: #333;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        justify-content: center;
        transition: 0.5s;
    }

    ul li {
        margin: 20px 0;
    }

    ul li a {
        font-size: 24px;
    }

    .menu-icon.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-icon.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.active span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    ul.active {
        right: 0;
    }

}